*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer{
    background-color: rgba(161, 228, 152, 1);
}

.footercontainer{
    width: 100%;
    padding: 40px 30px 20px;
}

.iconos{
    display: flex;
    justify-content: center;
    background-color: rgba(161, 228, 152, 1);
}

.iconos a{
    text-decoration: none;
    padding: 10px;
    background-color: rgba(161, 228, 152, 1);
    margin: 10px;
    border-radius: 50%;
}

.iconos a i {
    font-size: 2em;
    color: white;
    opacity: 0.9;
}

.iconos a:hover{
    background-color: white;
    transition: 0.5s;
}

.iconos a:hover i{
    color: black;
    transition: 0.5s;

}

.footernav{
    margin: 30px 0;
}

.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footernav ul li a:hover{
    opacity: 1;
}

.footerbotton{
    background-color: rgba(161, 228, 152, 0.6);
    padding-bottom: 10px;
    text-align: center;
}

.footerbotton p{
    color:rgb(255, 255, 255);
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media(max-width:700px){
    .footernav ul{
        flex-direction: column;
    }
    .footernav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}