@font-face{
    font-family: "Merienda";
    src: url(resources/Merienda-VariableFont_wght.ttf);
    font-weight: 600;
}

.icono-login{
    opacity: 0.7;
    width: 70px;
    height: auto;
    text-decoration: none;
    white-space: nowrap;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.car-div{
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px;
    border-color: #a16852;
    padding-top: 50px;
    padding-bottom: 50px;       
    position: relative;
    box-sizing: border-box;
    
}

.carousel{
    padding-left: 50px;
    padding-right: 50px;
    
}

.car-text{
    font-size: 20px;    
    position: absolute;
    color: white; 
    font-family: Merienda;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    text-align: center;
}

.heading-1{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    color: black;
}

.carousel-inner{
    border-radius: 10px;
}
.top-categoria{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem ;
    font-family: "Merienda";
}

.container-categorias{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.div_categoria{
    margin-top: 50px;
    margin-bottom: 50px;
    border-width: 1px;
    border-color: rgb(161, 128, 82);
    padding: 50px;
    width: 100%;
}

.card-category{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    gap: 2rem;
}

.category-torta{
    background-image: linear-gradient(#00000080,#00000080),url(img/torta.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-alfajor{
    background-image: linear-gradient(#00000080,#00000080),url(img/alfajores.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-cupcake{
    background-image: linear-gradient(#00000080,#00000080),url(img/cupcakes.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-category p{
    font-size: 2.5rem;
    color: #fff;
    text-transform: capitalize;
    position: relative;
}
.card-category p::after{
    content: '';
    width: 2.5rem;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%,50%);
}
.card-category a{
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.card-category a:hover{
    color: peru;
}

.fondo-index{
    background-color: #faeee3;
    background-blend-mode: lighten;
    height: 100%; 
    width: 100%;    
    z-index: -5;
    position: relative;
}

.navbar {
    background-color: #fdcf76; 
    height: 80px;
}

.navbar-custom {
    padding: 20px 0; 
}

.navbar-collapse{
    background-color: #fdcf76; 
    z-index: 3;
    padding: 15px;
}

.navbar-brand img {
    height: 75px; 
    width: auto; 
    
}

.navbar-nav .nav-link {
    color: #fdfdfd; 
    margin-right: 30px; 
    font-size: 23px; 
    font-family: Merienda;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #a18052;
}

.search-index{
    display: block;
    width: 100%;
    height: 30px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 0.5;
    appearance: none;
    background-clip: padding-box;
    border-radius: 4rem;
    border-width: 0;
    margin-top: 7px;
    margin-right: 10px;
    color: black;
}

.img-navbar-1{
    width: auto;
    height: 46px;
    margin-top: 2px;
    margin-left: 25px;
    filter:invert(100%);
    
}

.img-navbar-2{
    width: auto;
    height: 39px;
    margin-top: 6px;
    margin-left: 15px;
    margin-right: 40px;
    filter:invert(100%);
    
}

.img-navbar-1:hover,
.img-navbar-2:hover{
    filter: invert(53%) sepia(33%) saturate(545%) hue-rotate(355deg) brightness(92%) contrast(84%);
    cursor: pointer;
    
}

.search-index:focus{
    outline: none;
   
}